.none {
  display: none ! important;
}

body {
  background: rgba(0, 102, 255, 0.38);
  font-family: sans-serif;
}

p {
  margin: 0 0 5px;
}

.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
  border-radius: 10px;
}

.news_author {
  text-decoration: underline;
  color: #007DDC;
}
.news_count {
  margin: 10px 0 0 0;
  display: block;
}
.add {
  margin: 0 5px 5px 0;
  width: 310px;
  display: table;
  /*border: 1px solid black;*/
  padding: 5px;
  box-sizing: border-box;
}
.add_author,  .add_text, .add_bigText, .add_btn,  .add_checkrule {
  font-family: sans-serif;
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
  border-radius: 5px;
}
.add_checkrule {
  border: none;
  font-size: 12px;
}
.add_btn {
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add_btn:disabled {
  /*background: #CCC;
  color:  #999;*/
  display: none;
}
.clock:disabled {
  display: none;
}